:root {
    --sidebar-bg-color: #38bdf8;
    --main-bg-color: #e1e1e6;
    --header-bg-color: white;
    --sidebar-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
    ;
}


header {
    background-color: var(--header-bg-color);
    grid-area: header;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    grid-area: sidebar;
}

main {
    background-color: var(--main-bg-color);
    grid-area: main;
}


.sidebar {
    padding: 12px;
}

.sidebar-item {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
}

.sidebar-item.sidebar-header {
    margin-bottom: 2em;
}

.sidebar-item:nth-last-child(3) {
    margin-top: 2em;
}


.header-top-section {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
}

label[for="search"] {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

#search {
    padding: 4px;
    border-radius: 15px;
    border: none;
    background-color: var(--main-bg-color);
}

.search-icon {
    width: 15px;
    height: 15px;
}

.header-top-section .notifications {
    width: 15px;
    height: 15px;
    background-image: url("./images/bell-ring.svg");
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.user-prof-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}