:root {
    --sidebar-bg-color: #38bdf8;
    --main-bg-color: #e1e1e6;
    --header-bg-color: white;
    --sidebar-text-color: white;
    --project-card-box-shadow-color: rgb(189, 189, 189);
    --card-box-shadow: 4px 4px 4px var(--project-card-box-shadow-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
    ;
}


header {
    background-color: var(--header-bg-color);
    grid-area: header;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    grid-area: sidebar;
}

main {
    background-color: var(--main-bg-color);
    grid-area: main;
}


.sidebar {
    padding: 12px;
}

.sidebar-item {
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
}

.sidebar-item.sidebar-header {
    margin-bottom: 2em;
}

.sidebar-item:nth-last-child(3) {
    margin-top: 2em;
}


.sidebar-header {
    font-size: 1.2em;
}

.sidebar-item {
    margin-top: 1em;
    font-weight: bold;
}

.sidebar-header .sidebar-item-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: white;
    mask: url(./images/view-dashboard.svg);
}


.sidebar-item .sidebar-item-icon {
    width: 20px;
    height: 20px;
    background-color: white;
}

.sidebar-item-icon.home {
    mask: url(./images/home.svg);
}

.sidebar-item-icon.profile {
    mask: url(./images/card-account-details-outline.svg);
}

.sidebar-item-icon.messages {
    mask: url(./images/message-reply.svg);
}

.sidebar-item-icon.history {
    mask: url(./images/clock-time-three-outline.svg);
}

.sidebar-item-icon.tasks {
    mask: url(./images/file-multiple.svg);
}

.sidebar-item-icon.communities {
    mask: url(./images/account-group.svg);
}

.sidebar-item-icon.settings {
    mask: url(./images/cog.svg);
}

.sidebar-item-icon.support {
    mask: url(./images/help-box-outline.svg);
}

.sidebar-item-icon.privacy {
    mask: url(./images/shield-check.svg);
}

.header-top-section {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
}

label[for="search"] {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-right: 6em;
    gap: 8px;
}

#search {
    padding: 8px;
    border-radius: 15px;
    border: none;
    background-color: var(--main-bg-color);
}

.search-icon {
    width: 1.4em;
    height: auto;
    aspect-ratio: 1;
}

.header-top-section .notifications {
    width: 15px;
    height: 15px;
    background-image: url("./images/bell-ring.svg");
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.user-prof-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header-bottom-section {
    padding: 16px;
    padding-right: 1em;
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: auto 1fr 0.1fr 0.1fr 0.1fr;
}

.header-bottom-section .user-prof-pic {
    width: 50px;
    height: 50px;
}

.header-bottom-section button {
    background-color: var(--sidebar-bg-color);
    border-radius: 16px;
    border: none;
    padding: 0.8em 1em;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}

.user-greeting p:first-child {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-greeting p:last-child {
    font-weight: bold;
    font-size: 1rem;
}

.project-card-options>button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: black;
}

button.star {
    mask: url(./images/star-plus-outline.svg);

}

button.view {
    mask: url(./images/eye-plus-outline.svg);
}

button.share {
    transform: rotateZ(-90deg);
    mask: url(./images/share-variant-outline.svg);
}


.projects-container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.project-card {
    gap: 4px;
    border-left: 8px solid orange;
    padding: 24px 16px;
    display: grid;
    /* height: 200px; */
    background-color: white;
    border-radius: 10px;
    grid-template-rows: auto 1fr auto;
    box-shadow: 4px 4px 4px var(--project-card-box-shadow-color);
}

.project-title {
    font-weight: bold;
}

.project-desc {
    font-size: 0.8em;
}

.project-card-options {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    margin-top: 2em;
    gap: 20px;
}


.announcements {
    width: 33ch;
    padding: 12px 24px;
    background-color: white;
    border-radius: 6px;
    box-shadow: var(--card-box-shadow);
}

.announcement-item {
    border-bottom: 1px solid rgb(225, 225, 225);
    background-color: white;
    padding-bottom: 1em;
    display: grid;
    align-content: start;
}

.announcement-title {
    padding-top: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

.announcement-desc {
    line-height: 1.2;
    font-size: 0.8em;
    color: rgb(92, 92, 92);
    height: calc(3em * 1.2);
    line-clamp: 3;
    position: relative;
    overflow: hidden;
}


.announcement-desc::after {
    content: "";
    width: 30ch;
    height: calc(1em * 1.2);
    background-image: linear-gradient(90deg, transparent, white);
    position: absolute;
    right: 0;
    bottom: 0;
}

.announcement-item:last-child {
    border: none;
}


.trending {
    width: 33ch;
    padding: 24px;
    background-color: white;
    border-radius: 6px;
    box-shadow: var(--card-box-shadow);
}

.trending-item {
    display: grid;
    grid-template-columns: 0.28fr 1fr;
    column-gap: 0.8em;
    margin-bottom: 1em;
    grid-auto-rows: 1.2em;
    align-items: center;
}

.trending-item .user-prof-pic {
    grid-row: 1/3;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}

.trending-item .usertag {
    font-weight: bold;
    align-self: start;
}

.trending-item .user-proj {
    font-size: 0.8em;
    color: rgb(92, 92, 92);
}


main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "prj ann"
        "prj tre"
    ;
    column-gap: 1em;
    row-gap: 3em;
    padding-left: 1em;
    padding-bottom: 4em;
    padding-top: 2em;
    padding-right: 1.5em;
}

.prj-wrapper {
    grid-area: prj;
    display: grid;
    grid-template-rows: auto 1fr;
}


.tre-wrapper {
    grid-area: tre;
    display: grid;
    grid-template-rows: auto 1fr;
}


.trending {
    display: grid;
    align-content: space-between;
}

.ann-wrapper {
    grid-area: ann;
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements {
    display: grid;
    align-content: stretch;
}

.announcement-item {
    display: grid;
}


h4 {
    margin-bottom: 12px;
}